[Unit]
Description=Google Coder Daemon
After=network.target auditd.service syslog.target
AssertPathExists=/home/coder/coder-dist

[Service]
ExecStart=/usr/bin/node server.js 
KillMode=process
User=coder
WorkingDirectory=/home/coder/coder-dist/coder-base/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=coder-daemon
Environment=NODE_ENV=production
Restart=on-failure
RestartSec=10                       # Restart service after 10 seconds if node service crashes

[Install]
WantedBy=multi-user.target

