[Unit]
Description=Google Coder Daemon
After=network.target auditd.service syslog.target

[Service]
ExecStart=/usr/bin/nodejs server.js
KillMode=process
User=coder
WorkingDirectory=/home/coder/coder-dist/coder-base/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=coder-daemon
Environment=NODE_ENV=production
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

